/* CSS declarations go here */
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width: 100%;
}

/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

main {
	margin-bottom: 100px;
}

.page-footer {
    opacity: 1;
    transition: opacity 200ms;
}
.page-footer.animate {
    opacity: 0;
}

.play, .playReset, .subscribe, .unsubscribe, .remove {
  cursor: pointer;
}