<template name="pod">
	{{#if loading}}
		<div class="center-align">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
				<div class="circle"></div>
				</div><div class="gap-patch">
				<div class="circle"></div>
				</div><div class="circle-clipper right">
				<div class="circle"></div>
				</div>
				</div>
			</div>
		</div>
	{{else}}
	<h1>{{pod.collectionName}}</h1>
	<div class="row">
		<div class="col s12 m8">
			{{#each pod.feed.items}}
				<div class="card">
					<div class="card-content">
						<h5>{{title}}</h5>
						<p>{{description}}</p>
					</div>
					<div class="card-action">
						<a class="play"><i class="mdi-av-play-circle-fill"></i> play</a>
						<a class="playReset"><i class="mdi-av-replay"></i> play from start</a>
					</div>
				</div>
			{{/each}}
		</div>
		<div class="col s12 m4">
			<div class="card">
				<div class="card-image">
					<img src="{{pod.artworkUrl600}}">
				</div>
				{{#if currentUser}}
					<div class="card-action">
						{{#if subd}}
						<a class="unsubscribe">Unsubscribe</a>
						{{else}}
						<a class="subscribe">Subscribe</a>
						{{/if}}
					</div>
				{{/if}}
			</div>

			<div class="card">
				<div class="card-content">
					{{#if playing}}
						<a class="waves-effect waves-light btn playerPause"><i class="mdi-av-pause-circle-fill left"></i>Pause</a>
					{{else}}
						<a class="waves-effect waves-light btn playerPlay"><i class="mdi-av-play-circle-fill left"></i>Play</a>
					{{/if}}
					<a class="waves-effect waves-light btn playerBack"><i class="mdi-av-replay left"></i>15s</a>
					{{progressHuman}}
					<div class="progress">
						<div class="determinate" style="width: {{progress}}%"></div>
					</div>
					<audio id="podcastPlayer"></audio>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
</template>