<template name="search">
	<form class="search">
		<div class="input-field col s6">
			<i class="mdi-action-search prefix"></i>
			<input id="icon_prefix" name="term" type="text" class="validate">
			<label for="icon_prefix">Search</label>
		</div>
	</form>
	{{#if loading}}
		{{>loadingIcon}}
	{{/if}}
	<div class="row">
	{{#each pods}}
		<div class="col s12 m6 l4">
			<div class="card">
				<div class="card-image">
					<a href="/pod/{{collectionId}}/{{slugger collectionName}}">
						<img src="{{artworkUrl600}}">
					</a>
				</div>
				<div class="card-content">
					<p>{{collectionName}}</p>
				</div>
				<div class="card-action">
					<a href="/pod/{{collectionId}}/{{slugger collectionName}}">View more</a>
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</template>
