<template name="footer">
	{{#Animate}} {{#if trackLoaded}}
	<footer class="page-footer orange accent-3 animate">
		<div class="container">
			{{#if playing}}
				<a class="orange darken-4 waves-effect waves-light btn playerPause"><i class="mdi-av-pause-circle-fill left"></i>Pause</a>
			{{else}}
				<a class="orange darken-4 waves-effect waves-light btn playerPlay"><i class="mdi-av-play-circle-fill left"></i>Play</a>
			{{/if}}
			<a class="orange darken-4 waves-effect waves-light btn playerBack"><i class="mdi-av-replay left"></i>15s</a>
			{{formatTime progressTime.[0]}} / {{formatTime progressTime.[1]}}
			<div class="progress orange darken-4">
				<div class="determinate orange accent-1" style="width: {{progress}}%"></div>
			</div>
		</div>
	</footer>
	{{/if}} {{/Animate}}
	<audio id="podcastPlayer"></audio>
</template>