<template name="nav">
	<nav>
		<div class="nav-wrapper orange accent-3">
			<div class="container">
				<a href="/" class="brand-logo center">podder</a>
				<a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{pathFor 'search'}}">Search</a></li>
					{{#if currentUser}}
					<li><a href="{{pathFor 'mypods'}}">My pods</a></li>
					{{/if}}
				</ul>
				<ul class="left hide-on-med-and-down">
					<li>{{>loginButtons}}</li>
				</ul>

				<ul id="mobile-nav" class="side-nav">
					<li><a href="{{pathFor 'search'}}">Search</a></li>
					{{#if currentUser}}
					<li><a href="{{pathFor 'mypods'}}">My pods</a></li>
					{{/if}}
					<li>{{>loginButtons}}</li>
				</ul>
			</div>
		</div>
	</nav>
</template>